# Python
backend/venv/
backend/.env
__pycache__/
*.pyc

# Node
node_modules/
frontend/.env
frontend/dist/


# Chrome Extension
extension/dist/
extension/*.pem
extension/.env
extension/node_modules

.DS_Store

# General
*.env
